


/* my style code */

/* my style code */

/* my style code */



.main-wrapper {
    margin: 0 auto;
    width: 80%;

}
a{
    text-decoration: none;
}

body {
    background-color: rgb(241, 233, 233);
}

header nav {
    width: 100%;
    height: 60px;
    background-color:#fff;
    position: fixed;
    z-index: 1;
    text-align: center;
}

header nav ul {
    float: left;
}


header nav ul li{
    float: left;
    list-style: none;
}

header nav ul li a{
    font-family: Arial;
    font-size: 20px;
    color: #111;
    line-height: 63px;

}

header .nav-login{
    float: right;
}

header .nav-login form{
    float: left;
    padding-top: 15px;
}

header .nav-login form input{
    float: left;
    width: 140px;
    height: 30px;
    padding: 0 10px;
    margin-right: 10px;
    border: none;
    background-color: #ccc;
    font-family: Arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}
header .nav-login form button{
    float: left;
    width: 80px;
    height: 30px;
    margin-right: 5px;
    border: none;
    background-color: #f3f3f3;
    font-family: Arial;
    font-size: 14px;
   text-align: center;
    padding: 1px;
    color: #111;
    cursor: pointer;
}
header .nav-login form button:hover{
  
    background-color: #ccc;
   
}
header nav-login a{

    display: block;
    width:60px;
    height: 50px;
    border:none;
    float: left;
    background-color: #fff;
    font-family: Arial;
    font-size: 16px;
    color: #111;
    line-height: 63px;
    cursor: pointer;
     margin-top: 10px;

}


h1 {
    text-align: center;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}

h3{
    font-size: 25px;
    vertical-align: center;
    float: right;
    margin: 10px 0 0 0;
    
}

@media (min-width: 900px) {
    header {
        text-align: left;
    }
}

.remove {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}
#hero {
    background-image:url(../img/3.jpg);
    height: 700px;
    background-size: cover;
}
#heading {
    margin: 30px 0;
}
.submenu {
    position: relative;
}

.submenu #shopping-cart{
    display: none;
}
.submenu:hover #shopping-cart{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.hero-content {
    margin-top: 80px;
    color: white;
}
.hero-content form {
    position: relative;
    margin-bottom: 0;
}
.hero-content form #search-course {
    height: 50px;
    margin-bottom: 0;
}
.hero-content form .submit-search-course {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/mglass.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}




#courses-list .row {
    margin-bottom:20px;
}
.add-to-cart {
    margin:10px 0;
}
.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card  {
    padding: 10px 20px;
}
.info-card p,
.card h4 {
    margin-bottom: 5px;
}
.info-card .price {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .price span {
    font-weight: 700;
    font-size: 22px;
}
.footer {
    margin-top: 40px;
    border-top:1px solid #aaa;;
    padding-top: 40px;
    background-color: rgb(245, 245, 245);
}
.footer .menu a{
display: block;
margin-bottom: 10px;
text-decoration: none;
}

/* signup.php */

.main-container{
    height: 670px;
}
.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input{
    width: 90%;
    height: 40px;
    padding: 0 5%;
    margin-bottom: 8px;
    border: none;
    background-color: rgb(255, 254, 254);
    font-family: Arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}
.signup-form button{
    display: block;
    width: 30%;
    margin: 0 auto;
    height: 40px;    
    border: none;
    background-color: #222;
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.signup-form button:hover{
    background-color: #111;
}
